// Variables
$bp-l: 800px;
$bp-m: 550px;

// Root styles
#root {
   min-height: 100vh;
}

// Import component sheets
@import './components/App';
@import './components/UserInput';
@import './components/Back';
@import './components/Timeline';
@import './components/TimelineItem';
